<h1><%= @owner.name %> Vending Machines</h1>

<% @owner.machines.each do |machine| %>
  <p><%= link_to machine.location, machine_path(machine)%></p>
  <p><%= link_to "Edit", edit_machine_path(machine) %></p>
  <p><%= link_to "Delete", machine_path(machine), method: :delete %></p>
<% end %>
